@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>



<div class="jumbotron">
    <h3>@ViewBag.Message</h3>
    <address>
        Екатеринбург<br />
        Коминтерна, 5<br />
    </address>

    <address>
        <strong>Эта программа живёт здесь : </strong>   <a href="https://github.com/sweetaloe/labs/tree/master/Order%20Cakes%20Class">sweetaloe</a>
    </address>
</div>