@{
    ViewBag.Title = "Домашняя";
}

<div class="jumbotron">
    <h1>Тортики!</h1>
    <p class="lead">Торт – центральное десертное блюдо многих праздничных событий: свадебный торт, именинный торт. Приготовление и украшение торта всегда является предметом особой заботы поваров и домашних кулинаров. Ведь именно красивый вкусный торт является венцом праздничного вечера, его ждут, для него «оставляют место» гости.</p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%80%D1%82" class="btn btn-primary btn-lg"> Почитай ещё &raquo;</a></p>
</div>


